*/******************
Header
********************/
.header-wrapper{width:100%; height:500px; background-position:center;background-size: 100% 100%; background-repeat:no-repeat; text-align:center;background-color:#777777;}
.employment-header{ background:url(../images/employment-header.jpg); }
.header-wrapper h1, .header-wrapper h2{font-family:proxima_novalight; font-weight:normal; color:#fff;}
.header-wrapper h1{ font-size:50px;  width:530px; margin-left: auto;margin-right: auto;  margin-bottom: 0px;  margin-top: 150px;  padding-bottom: 0px;}
.header-wrapper h2{font-size:25px;   margin-top: 12px;  letter-spacing: 0.6px;   margin-bottom: 58px;}
.header-wrapper .btn-square, .trust-us .btn-square, .featuredServiceBox .btn-square{text-decoration:none;  border:2px solid #fff; color:#fff; text-transform:uppercase; font-size:17px; font-family:proxima_nova_rgbold;   padding: 12px 33px; }
.employment-page-sidebar h2.widgettitle{  margin-top: 29px;  margin-bottom: 9px;padding: 31px 57px;background:#018acf; color:#fff; font-size:22px; font-family:"proxima_nova_rgregular"; text-align:center;}
.employment-page-sidebar .sidebarInside{ max-width:400px; float:right;}
.inner-page-content li{  margin-bottom: 21px; list-style-image:url(../images/list-image.jpg); list-style-position:outside;   padding-left: 15px;  margin-left: 15px;}
.employment-page-sidebar img{margin-bottom: 34px;}
.inner-page-content ul{padding-left: 5px;   margin-top: 36px;}
.employment-page-sidebar  {margin-top:0px;}
.inner-page-content{  padding-top: 71px;   padding-bottom: 143px;}
.inner-page-content{ font-family:proxima_nova_rgregular; font-size:21px; color:#58585a; line-height:31px;}
.inner-page-content h1, .inner-page-content h2, .inner-page-content h3, .inner-page-content h4{color:#018acf; font-family:proxima_nova_rgregular;}
.inner-page-content h2{font-size:36px;   margin-bottom: 30px;}
.inner-page-content .joblist li{color:#018acf; list-style-image:none; padding-left:0px; margin-left:0px; list-style:none; }
.inner-page-content .joblist li a{float:right; color:#018acf; border:2px solid #018acf;  padding: 3px 20px;  margin-top: -5px; text-decoration:none;}
.employment-page-sidebar b{color:#023754;}
.employment-page-sidebar a{text-decoration:none; color:#018acf;}
.employment-header .container a:hover {
      background-color: #fff;  color: #000;
}
.centerText{margin:0px auto; height:auto;float:none;}
.we-strive h2, .our-team h2{text-align:center;background:url(../images/head_bot_blue_bg.jpg) center bottom no-repeat; font-family:"proxima_nova_rgregular"; font-size:28px; color:#023754; line-height:35px;   margin-top: 53px;   margin-bottom: 60px;  padding-bottom: 30px;margin-left:auto;margin-right:auto;}
.we-strive h2{max-width:630px; }
.number-box{   margin-bottom: 40px; border-left:2px solid #018acf; text-align:left;}
.number-box h3{color:#018acf; font-size:62px; font-family:"proxima_nova_rgbold";   margin-top: 0px;   margin-bottom: 6px;  line-height: 55px;}
.number-box h4{color:#018acf; text-transform:uppercase; font-size:18px; line-height:20px;  font-family:"proxima_nova_rgregular";margin-top: 0px;   padding-left: 10px;  margin-bottom: 0px; }
.trust-us{min-height:406px;background:#023754 url(../images/grdntBlue.jpg) center no-repeat;}
.trust-us h2{  margin-top: 65px; color: #fff; font-family:"proxima_novasemibold"; font-size:32px;   margin-bottom: 28px;}
.trust-us p{  margin-bottom: 43px; color: #fff; font-family:"proxima_nova_rgregular"; font-size:17px; line-height:27px; }
.our-team .team-mate{padding-left:0px; padding-right:0px;}
.our-team .team-mate img{ width:100%; height:auto;}
.our-team .team-mate  .labelBox{  max-height: 85px; overflow: hidden; transition:linear all 0.1s; padding:0px 15px;border-bottom:2px solid #cccccc; background:#fff; position:absolute; bottom:0px;   width: 100%;}
.our-team .team-mate  .labelBox .title{color:#018acf; font-size:25px;   margin-top: 10px; font-family:"proxima_nova_rgbold";   margin-top: 14px;    margin-bottom: 0px; }
.our-team .team-mate  .labelBox  .position{color:#023754; font-size:20px;font-family:"proxima_nova_rgregular"; margin-top: 0px;   margin-bottom: 10px; padding-bottom:10px; }
.our-team .team-mate  .labelBox .plus{   margin-top: 20px;  margin-right: 40px; width:32px; height:32px; background:url(../images/plusicon.png); float:right;}
.our-team .team-mate  .info{    width:100%; height:100%; background:#018acf; color:#fff; opacity:0;}
.our-team .team-mate:hover .labelBox{ transition:linear all 0.2s;  background:#018acf; top:0px; max-height: 100%;  overflow: hidden; }
.our-team .team-mate:hover  .labelBox .plus{display:none;}
.our-team .team-mate:hover  .title, .our-team .team-mate:hover  .position, .our-team .team-mate:hover  .info{ transition:linear all 0.2s; color:#fff; opacity:1; display:block; }
.our-team .team-mate  .title, .our-team .team-mate  .position, .our-team .team-mate  .info{ transition:linear all 0.2s; }
.our-team .team-mate:hover  .position{border-bottom:1px solid #fff;}
.claimBox{ background:#018acf; color: #fff;  border-bottom: 2px solid #cccccc; }
.claimBoxText{font-size:33px; line-height:44px; font-size: 33px;  line-height: 44px;   padding: 89px 36px;}
.uniquely-qualified{   padding-bottom: 62px; text-align:center;  color:#58585a; font-size:21px; font-family:"proxima_nova_rgregular"; }
.uniquely-qualified h2{  color:#018acf; font-size:36px;font-family:"proxima_nova_rgregular";  margin-top: 43px;  margin-bottom: 60px; }
.uniquely-qualified .ribbon{width:100%; height:10px; display:block; background:url(../images/smart-object.png) center no-repeat;   margin-bottom: 19px;}
.uniquely-qualified  li{  margin-bottom: 6px; list-style:none;}
.uniquely-qualified  ul{padding-left: 0px;}  
.uniquely-qualified .block1{border-right:1px solid #ebebeb;}
.proven-process{  padding-bottom: 62px; background:#023754; color:#018acf; text-align:center;}
.proven-process h2{   max-width: 400px;  margin: auto;  margin-top: 56px;   margin-bottom: 47px; color:#fff; font-size:43px; line-height:50px; font-family:"proxima_nova_rgregular";}
.proven-process .circle{border-radius:50%; font-size:45px; border:6px solid #018acf; color:#fff; font-family:"proxima_novasemibold";  max-width: 104px;
  padding: 14px 20px;  display: block;  margin: auto; }
.proven-process h3{    padding-bottom: 18px;  margin-bottom: 18px; margin-top: 30px; background:url(../images/smart-object.png) center bottom no-repeat; font-size:25px; color:#fff; font-family:"proxima_novasemibold";}
.proven-process p{font-size:17px; line-height:30px; font-family:"proxima_nova_rgregular"; }
.discover-more{ text-transform:uppercase; text-decoration:none; background:#018acf url(../images/arrow-right.png) center right no-repeat; color:#023754; font-size:18px;font-family:"proxima_novasemibold";   margin-top: 38px;  display: inline-block;  padding: 12px 81px 12px 60px;}
.discover-more:hover{color:#fff;background:url(../images/arrow-right-hover.png) center right no-repeat;  border:1px solid #fff; text-decoration:none; padding: 11px 80px 11px 59px; }
.content-wrapper .trusted-companies-wrapper div img{opacity:0.2; transition:linear all 0.5s;}
.content-wrapper .trusted-companies-wrapper div img:hover{opacity:1;}
.proven-process .steps-line{width: 92px;  height: 5px;  background-color: #018acf;  position: absolute;  top: 0;  bottom: 0;  margin: auto;}
.steps-line.line-right{  right: 0px;  top: -66%;} 
.steps-line.line-left{  left: 0px;  top: -66%;} 
/** Solutions Page**/
.solutions-page-heading{ text-align:center; }
.solutions-page-heading h2{font-size:56px; margin:auto;  margin-top: 54px;  font-weight: normal;   margin-bottom: 36px;
  max-width: 470px; font-family:"proxima_nova_rgregular"; color:#023754;line-height: 37px;  background: url(../images/head_bot_blue_bg.jpg) center bottom no-repeat;
  padding-bottom: 32px; }
.solutions-page-heading h2 small{font-size:18px; font-family:"proxima_nova_rgregular"; color:#757575;}
.cabling-solutions img{margin-top:101px !important;}
.cabling-solutions h1{ font-size:32px; font-family:"proxima_novasemibold";}
.cabling-solutions h2{  font-size:17px; font-family:"proxima_nova_rgregular";   max-width: 420px;  margin: auto; margin-top:0px; margin-bottom: 53px;}
.cabling-solutions .btn-square{  padding: 12px 47px;}
.greybgwrap{background:url(../images/greyBg.jpg) ;   padding-bottom: 87px;}
.blueBgwrap{  padding-top: 18px; background:url(../images/blueBg.jpg) center top repeat-x;}
.featured-sol h2{  margin-bottom: 25px; color:#fff; font-size:42px; text-align:center;font-family:"proxima_nova_rgregular";}
.featuredServiceBox{background:#fff; text-align:center; }
.featuredServiceBox h2{color:#029ae6; font-size:30px; font-family:"proxima_nova_rgregular";   max-width: 209px;
  margin: auto;  margin-bottom: 37px;   margin-top: 30px; }
  .featuredServiceBox.last h2{  max-width: 267px;}
.featuredServiceBox p{color:#9b9b9b; font-family;'proxima_novasemibold'; font-size:18px; margin:auto; margin-bottom: 61px;   max-width: 230px; }
.featuredServiceBox img{  margin-top: 59px;}
.featuredServiceBox .blue-border {color:#029ae6; border-color:#029ae6; max-width:210px; display:block;   max-width: 210px;
  margin: auto;   margin-bottom: 50px !important; }
  .featuredServiceBox .texture img{ width:100%; margin-top:0px; }
  .featured-sol  .col-lg-3 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.cabling-solutions{ margin-top:10px;}
.content-wrapper.centralityServices .centrality-service-wrapper .centrality-service-right .it-management, .content-wrapper.centralityServices  .centrality-service-wrapper .centrality-service-left .voice-solution{   top: 50%;
  transform: translateY(-50%);}

@media(min-width:767px){.row-minus{margin-left:-15px; margin-right:-15px;}}
