@media screen and (min-width: 1441px) and (max-width: 1530px) {
    header .logo-right-wrapper ul.nav {
        margin-left:0;
        float: right;
        width:380px;
    }
    header .logo-right-wrapper > ul.nav > li:last-child {
        margin-left: 13px;
    }
    .solutions .arrow-up {
        right: 22%;
    }
}

@media screen and (min-width: 1280px) and (max-width:1440px) {
    /***************************
        General Css Start
    ***************************/
        /*body {background-color:red;}*/
    /***************************
        General Css End
    ***************************/

    /***************************
        Header Css Start
    ***************************/

    header .logo-right-wrapper ul.nav {
        margin-left:0;
        float: right;
        width:380px;
    }
    header .logo-right-wrapper > ul.nav > li:last-child {
        margin-left: 13px;
    }
    header .logo-right-wrapper .btn {
        min-width:100px;
        padding: 7px 6px;
    }
    .solutions .arrow-up {
        right: 26%;
    }

    /***************************
        Header Css End
    ***************************/

    /***************************
        Slider Css Start
    ***************************/

    /***************************
        Slider Css End
    ***************************/

    /***************************
        Content Css Start
    ***************************/
    .content-wrapper .in-it {
        width: 500px;
        top: -220px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content {
        width: 500px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content ,
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content {
        width:calc((100% - 500px) / 2);
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        width:500px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management {
        max-width: 350px;
        max-height: 400px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > img {
        width: 50px;
        height: 50px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > h3,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > h3 {
        width: 250px;
        font-size: 25px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > p,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > p {
        width: 250px;
        font-size: 13px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right > img {
        min-height: 685px;
    }
    /***************************
        Content Css End
    ***************************/

    /***************************
        Footer Css Start
    ***************************/

    /***************************
        Footer Css End
    ***************************/
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    /***************************
        General Css Start
    ***************************/
    /*body {background-color:#ffff00;}*/
    /***************************
        General Css End
    ***************************/

    /***************************
        Header Css Start
    ***************************/
    header .logo-right-wrapper ul.nav {
        float: right;
        width: 380px;
    }
    header .logo-right-wrapper > ul.nav > li:last-child {
        margin-left: 13px;
    }
    header .main-nav-wrapper nav .logo-wrapper {
        padding-top:20px;
        padding-bottom:20px;
    }
    .solutions .arrow-up {
        right: 31%;
    }

    /***************************
        Header Css End
    ***************************/

    /***************************
        Slider Css Start
    ***************************/

    /***************************
        Slider Css End
    ***************************/

    /***************************
        Content Css Start
    ***************************/
    .content-wrapper .in-it {
        width: 450px;
        top: -165px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn {
        min-width:173px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn:first-child {
        margin-right: 80px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        margin-bottom: 10px;
    }
    .content-wrapper .in-it-body .in-it-body-top {
        height: 189px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content {
        width: 450px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content ,
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content {
        width:calc((100% - 450px) / 2);
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        width: 450px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management {
        max-width: 300px;
        max-height: 350px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > img {
        width: 50px;
        height: 50px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > h3,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > h3 {
        width: 250px;
        font-size: 25px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > p,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > p {
        width: 250px;
        font-size: 13px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right > img {
        min-height: 635px;
    }
    /***************************
        Content Css End
    ***************************/

    /***************************
        Footer Css Start
    ***************************/

    /***************************
        Footer Css End
    ***************************/

}

@media screen and (min-width: 768px) and (max-width:1023px) {
    /***************************
        General Css Start
    ***************************/
    /*body {background-color:blue;}*/
    /***************************
        General Css End
    ***************************/

    /***************************
        Header Css Start
    ***************************/
    header .logo-right-wrapper > ul.nav {
        float: right;
        margin-left:0;
        width: 380px;
    }
    header .logo-right-wrapper > ul.nav > li:last-child {
        margin-left: 13px;
    }

    header .main-nav-wrapper nav .logo-wrapper {
        padding-top:20px;
        padding-bottom:20px;
    }
    header .logo-right-wrapper .industries-wrapper h2,
    header .logo-right-wrapper .phone-system-wrapper h2,
    header .logo-right-wrapper .it-management-wrapper h2 {
        font-size: 15px;
    }
    .solution-dropdown-wrapper .search-head {
        font-size: 15px;
    }
    .featured-solution .container > div:nth-child(odd) {
        border-right: none;
    }
    .solutions .arrow-up {
        right: 36%;
    }

    /***************************
        Header Css End
    ***************************/

    /***************************
        Slider Css Start
    ***************************/

    /***************************
        Slider Css End
    ***************************/

    /***************************
        Content Css Start
    ***************************/
    .content-wrapper .in-it {
        width: 400px;
        top: -110px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn {
        min-width:150px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn:first-child {
        margin-right: 80px;
        margin-left: 10px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        margin-bottom: 10px;
    }
    .content-wrapper .in-it-body .in-it-body-top {
        height: 250px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content {
        width: 400px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content ,
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content {
        width:calc((100% - 400px) / 2);
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content > img {
        margin-top: 50%;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content > img {
        margin-top: 70%;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        width: 400px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        top: 215px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management {
        max-width: 300px;
        max-height: 350px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > img {
        width: 50px;
        height: 50px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > h3,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > h3 {
        width: 250px;
        font-size: 25px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > p,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > p {
        width: 250px;
        font-size: 13px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right > img {
        min-height: 690px;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .com-img {
        overflow: hidden;
        margin-left: -20px !important;
        margin-right: -20px !important;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .com-img img {
        min-width: 110%;

    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .btn-wrapper {
        margin-bottom: 81px;
    }
    /***************************
        Content Css End
    ***************************/

    /***************************
        Footer Css Start
    ***************************/

    /***************************
        Footer Css End
    ***************************/

}

@media screen and (min-width: 480px) and (max-width:767px) {
    /***************************
        General Css Start
    ***************************/
    .arrow-up {
        top: 53px;
    }
    .solutions .arrow-up {
        right: inherit;
        top: 116px;
        left: 37px;
    }
    /***************************
        General Css End
    ***************************/

    /***************************
        Header Css Start
    ***************************/

    header .main-nav-wrapper .navbar-brand {
        padding-top:0;
        padding-bottom:0;
    }
    header .main-nav-wrapper .navbar-brand > img {
        width: 250px;
    }
    header .main-nav-wrapper .navbar-header button {
        margin-top:20px;
        margin-bottom:20px;
    }
    header .main-nav-wrapper .navbar.navbar-default {
        margin-bottom: 0;
        background-color: transparent;
        border: none;
    }
    header nav #bs-example-navbar-collapse-1 ul li a {
        padding: 10px;
        font-size: 18px;
        font-family: Myriad Pro;
        color: #023754;
        text-transform: uppercase;
    }
    header .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        background-color: #e5e5e5;
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu {
        float: right;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
    header nav #bs-example-navbar-collapse-1 ul.nav li.dropdown a.dropdown-toggle {
        margin-right: 20px;
        font-size: 18px;
        padding-top: 10px;
    }
    #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu .request-service-form form .row.submit > div .btn {
         /*max-width:200px;*/
         font-size: 18px;
         width: 300px;
         margin-left: auto;
         margin-right: auto;
         display: block;
    }
    header nav #bs-example-navbar-collapse-1 ul.nav li.solution a.dropdown-toggle {
        background-color: transparent !important;
        padding: 10px;
        text-align: left;
        color: #023754 !important;
    }
    header nav #bs-example-navbar-collapse-1 ul.nav li.solution a.dropdown-toggle:hover {
        color: #007dbc !important;
    }

    header nav #bs-example-navbar-collapse-1 ul > li > a:focus,
    header nav #bs-example-navbar-collapse-1 ul > li > a:hover {
        background-color: transparent;
        color:#007dbc ;
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu.solutions {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        float: none;
    }
    .dropdown-menu.solutions .featured-solution div.container > div {
        border-right: none;
        width: 300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    /***************************
        Header Css End
    ***************************/

    /***************************
        Slider Css Start
    ***************************/

    /***************************
        Slider Css End
    ***************************/

    /***************************
        Content Css Start
    ***************************/
    .content-wrapper .in-it {
        width: 350px;
        top: -80px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn {
        min-width:130px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn:first-child {
        margin-right: 50px;
        margin-left: 10px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        margin-bottom: 10px;
    }
    .content-wrapper .in-it .selection .select-wrapper .s-left {
        width: 75px;
        margin-left: 33px;
    }
    .content-wrapper .in-it .selection .select-wrapper .s-right {
        width: 75px;
    }
    .content-wrapper .in-it-body .in-it-body-top {
        height: 300px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content,
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content {
        display: none;
    }

    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        width: 340px;
        top: 48%;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management {
        max-width: 300px;
        max-height: 350px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > img {
        width: 50px;
        height: 50px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > h3,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > h3 {
        width: 250px;
        font-size: 25px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > p,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > p {
        width: 250px;
        font-size: 13px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right > img {
        min-height: 690px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left,
    .content-wrapper .centrality-service-wrapper .centrality-service-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: 10px;
    }
    .content-wrapper .centrality-service-wrapper.upper-open .centrality-service {
        top: 48%;
    }
    header .tophat-wrapper p {
        font-size: 13px;
        width:384px;
    }
    .content-wrapper .trusted-companies-wrapper h3 {
        width: 410px;
    }
    .content-wrapper .working-with-centrality-wrapper .working-steps-choices .steps-choices .steps-line {
        display: none;
    }
    .content-wrapper .working-with-centrality-wrapper > div h3 {
        width: 400px;
    }
    .content-wrapper .mastery-trust-experience-wrapper > div h3 {
        width: 450px;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .com-img {
        overflow: hidden;
        margin-left: -20px !important;
        margin-right: -20px !important;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .com-img img {
        min-width: 110%;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .btn-wrapper {
        margin-bottom: 81px;
    }
    .content-wrapper .industry-insights-promotion-wrapper > div.container > h2 {
        width: 400px;
    }

    /***************************
        Brand Change css Start
    ***************************/

    .brand-change .brand-change-content {
        width: 400px;
    }
    .brand-change .brand-change-content p.desc-head,
    .brand-change .brand-change-content p.head {
        font-size: 22px;
        line-height: 25px;
    }
    .brand-change .brand-change-content p.desc {
        font-size: 18px;
        margin-bottom: 25px;
    }
    /***************************
        Brand Change css End
    ***************************/
    /***************************
        Content Css End
    ***************************/

    /***************************
        Footer Css Start
    ***************************/
    footer form .form-group label {
        display: block;
    }
    footer .logo-wrapper {
        border-right: none;
        margin-bottom: 20px;
    }
    footer .contact-detail {
        margin-bottom: 20px;
    }
    footer .contact-detail p {
        padding-left: 0;
    }
    /***************************
        Footer Css End
    ***************************/
}

@media screen and (min-width: 320px) and (max-width:479px) {
    /***************************
        General Css Start
    ***************************/
    .arrow-up {
        top: 53px;
    }
    .solutions .arrow-up {
        right: inherit;
        top: 116px;
        left: 37px;
    }
    /***************************
        General Css End
    ***************************/

    /***************************
        Header Css Start
    ***************************/

    header .main-nav-wrapper .navbar-brand {
        padding-top:0;
        padding-bottom:0;
    }
    header .main-nav-wrapper .navbar-brand > img {
        width: 200px;
    }
    header .main-nav-wrapper .navbar-header button {
        margin-top:20px;
        margin-bottom:20px;
    }
    header .main-nav-wrapper .navbar.navbar-default {
        margin-bottom: 0;
        background-color: transparent;
        border: none;
    }
    header .tophat-wrapper p {
        font-size: 10px;
        width: 275px;
        margin-top:5px;
    }
    header .logo-right-wrapper .btn, header nav #bs-example-navbar-collapse-1 .btn {
        min-width:1px;
        margin-right: 0;
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu {
        float: right;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
        max-width:calc(100% - 40px);
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown a.btn {
        margin-right: 20px;
    }
    header .navbar #bs-example-navbar-collapse-1 ul.nav li .btn, header nav #bs-example-navbar-collapse-1 ul.nav li a.dropdown-toggle {
        min-width: 200px;
        padding: 7px 9px;
    }
    #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu .request-service-form form .row.submit > div .btn {
        max-width:200px;
        font-size: 13px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu .request-service-form {
        padding: 20px;
    }
    header nav #bs-example-navbar-collapse-1 ul.nav li.solution a.dropdown-toggle {
        background-color: transparent !important;
        padding: 10px;
        text-align: left;
        color: #023754 !important;
    }
    header nav #bs-example-navbar-collapse-1 ul.nav li.solution a.dropdown-toggle:hover {
        color: #007dbc !important;
    }

    header nav #bs-example-navbar-collapse-1 ul > li > a:focus,
    header nav #bs-example-navbar-collapse-1 ul > li > a:hover {
        background-color: transparent;
        color:#007dbc ;
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu.solutions {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        float: none;
        max-width: 100%;
    }
    .dropdown-menu.solutions .featured-solution div.container > div {
        border-right: none;
        width: 300px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .solution-dropdown-wrapper {
        height: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-collapse.in {
        overflow-x: hidden;
    }
    header nav #bs-example-navbar-collapse-1 ul.nav li a {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: normal;
        padding: 10px;
    }
    /***************************
        Header Css End
    ***************************/

    /***************************
        Slider Css Start
    ***************************/

    /***************************
        Slider Css End
    ***************************/

    /***************************
        Content Css Start
    ***************************/
    .content-wrapper .in-it {
        width: 285px;
        top: -46px;
    }
    .content-wrapper .in-it p {
        width: 275px;
    }
    .content-wrapper .in-it .selection .select-wrapper {
        width: 275px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn {
        min-width:115px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn:first-child {
        margin-right: 5px;
        margin-left: 10px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        margin-bottom: 10px;
    }
    .content-wrapper .in-it .selection .select-wrapper .s-left {
        width: 60px;
        margin-left: 33px;
    }
    .content-wrapper .in-it .selection .select-wrapper .s-right {
        width: 60px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        width: 345px;
    }
    .content-wrapper .in-it-body .in-it-body-top {
        height: 350px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content,
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content {
        display: none;
    }

    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content .in-it-body-center-content-wrapper p.head {
        padding: 0;
    }
    .radio-buttons-wrapper {
        width: 215px;
        margin-left: -40px;
    }
    .radio-label-text {
        margin-left: 5px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        width: 275px;
        top: 48%;
        font-size: 30px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management {
        max-width: 250px;
        max-height: 300px;
        padding: 25px 0px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > img {
        width: 50px;
        height: 50px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > h3,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > h3 {
        width: 250px;
        font-size: 25px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > p,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > p {
        width: 250px;
        font-size: 13px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right > img {
        min-height: 690px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left,
    .content-wrapper .centrality-service-wrapper .centrality-service-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: 10px;
    }
    .content-wrapper .centrality-service-wrapper.upper-open .centrality-service {
        top: 48%;
    }
    .content-wrapper .trusted-companies-wrapper h3 {
        width: 275px;
        font-size: 17px;
    }
    .content-wrapper .trusted-companies-wrapper div img {
        width: 110px;
    }
    .content-wrapper .working-with-centrality-wrapper .working-steps-choices .steps-choices .steps-line {
        display: none;
    }
    .content-wrapper .working-with-centrality-wrapper > div h3 {
        width: 250px;
    }
    .content-wrapper .mastery-trust-experience-wrapper > div h3 {
        width: 275px;
        font-size: 25px;
    }
    .content-wrapper .industry-insights-promotion-wrapper > div.container > h2 {
        width: 275px;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .com-img img {
        min-width:1px;
        /*max-width:100px;*/
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion .microsoft img {
        max-width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    /***************************
        Brand Change css Start
    ***************************/

    .brand-change .brand-change-content {
        width: 300px;
    }
    .brand-change .brand-change-content .logo-img > img {
        max-width: 100%;
    }
    .brand-change .brand-change-content .is-now {
        margin-bottom: 25px;
    }
    .brand-change .brand-change-content p.desc-head,
    .brand-change .brand-change-content p.head {
        font-size: 22px;
        line-height: 25px;
    }
    .brand-change .brand-change-content p.desc {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .brand-change .brand-change-content .learn-more-wrapper {
        margin-bottom: 25px;
    }
    /***************************
        Brand Change css End
    ***************************/
    /***************************
        Content Css End
    ***************************/

    /***************************
        Footer Css Start
    ***************************/
    footer form .form-group label {
        display: block;
    }
    footer .logo-wrapper {
        border-right: none;
        margin-bottom: 20px;
    }
    footer .contact-detail {
        margin-bottom: 20px;
    }
    footer .contact-detail p {
        padding-left: 0;
    }
    footer .social .soc-seprator {
        width: 12px;
    }
    /***************************
        Footer Css End
    ***************************/

}
@media screen and (min-width: 200px) and (max-width:319px) {
    /***************************
        General Css Start
    ***************************/
    .arrow-up {
        top: 53px;
    }
    /***************************
        General Css End
    ***************************/

    /***************************
        Header Css Start
    ***************************/

    header .main-nav-wrapper .navbar-brand {
        padding-top:0;
        padding-bottom:0;
    }
    header .main-nav-wrapper .navbar-brand > img {
        width: 125px;
        margin-top: 17px;
    }
    header .main-nav-wrapper .navbar-header button {
        margin-top:20px;
        margin-bottom:20px;
    }
    header .main-nav-wrapper .navbar.navbar-default {
        margin-bottom: 0;
        background-color: transparent;
        border: none;
    }
    header .tophat-wrapper p {
        font-size: 10px;
        width: 200px;
        margin-top:5px;
    }
    header .logo-right-wrapper .btn, header nav #bs-example-navbar-collapse-1 .btn {
        min-width:1px;
        margin-right: 0;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11px;
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown .dropdown-menu {
        float: right;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }
    header #bs-example-navbar-collapse-1 ul li.dropdown a.btn {
        margin-right: 20px;
    }
    header .navbar #bs-example-navbar-collapse-1 ul.nav li .btn, header nav #bs-example-navbar-collapse-1 ul.nav li a.dropdown-toggle {
        min-width: 200px;
        padding: 7px 9px;
    }

    /***************************
        Header Css End
    ***************************/

    /***************************
        Slider Css Start
    ***************************/

    /***************************
        Slider Css End
    ***************************/

    /***************************
        Content Css Start
    ***************************/
    .content-wrapper .in-it {
        width: 200px;
        top: -46px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn {
        min-width:50px;
        max-width:95px;
        padding: 10px 15px;
        font-size: 12px;
    }
    .content-wrapper .in-it p, .content-wrapper .in-it h3 {
        font-size: 14px;
        width: 200px;
    }
    .content-wrapper .in-it .selection .button-wrapper .btn:first-child {
        margin-right: 5px;
        margin-left: 5px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        margin-bottom: 10px;
    }
    .content-wrapper .in-it .selection .select-wrapper .s-left {
        width: 25px;
        margin-left: 15px;
    }
    .content-wrapper .in-it .selection .select-wrapper .s-right {
        width: 25px;
    }
    .content-wrapper .in-it .selection .button-wrapper {
        width: 200px;
    }
    .content-wrapper .in-it-body .in-it-body-top {
        height: 350px;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-left-content,
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-right-content {
        display: none;
    }
    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content .in-it-body-center-content-wrapper {
        padding: 20px;
    }

    .content-wrapper .in-it-body .in-it-body-content .in-it-body-center-content {
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service {
        width: 200px;
        top: 48%;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management {
        max-width: 160px;
        max-height: 300px;
        padding: 25px 0px;
        bottom: 95px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > img {
        width: 50px;
        height: 50px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > h3,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > h3 {
        width: 165px;
        font-size: 25px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > p,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > p {
        width: 155px;
        font-size: 13px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left .voice-solution > a,
    .content-wrapper .centrality-service-wrapper .centrality-service-right .it-management > a {
        width: 145px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left > img,
    .content-wrapper .centrality-service-wrapper .centrality-service-right > img {
        min-height: 690px;
    }
    .content-wrapper .centrality-service-wrapper .centrality-service-left,
    .content-wrapper .centrality-service-wrapper .centrality-service-right {
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: 10px;
    }
    .content-wrapper .centrality-service-wrapper.upper-open .centrality-service {
        top: 48%;
    }
    .content-wrapper .trusted-companies-wrapper h3 {
        width: 190px;
        font-size: 17px;
    }
    .content-wrapper .trusted-companies-wrapper div img {
        width: 75px;
    }
    .content-wrapper .working-with-centrality-wrapper .working-steps-choices .steps-choices .steps-line {
        display: none;
    }
    .content-wrapper .working-with-centrality-wrapper > div h3 {
        width: 190px;
    }
    .content-wrapper .mastery-trust-experience-wrapper > div h3 {
        width: 190px;
        font-size: 25px;
    }
    .content-wrapper .industry-insights-promotion-wrapper > div.container > h2 {
        width: 190px;
    }
    .radio-buttons-wrapper {
        width: 165px;
    }
    .radio-label-text {
        margin-left: 0;
        font-size: 19px;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion .microsoft img,
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion .blog-video img,
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion .blog-benefit img {
        max-width: 100%;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div[class*="blog-"] .btn-wrapper .btn {
        width: 145px;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div.microsoft > .btn-wrapper .btn {
        font-size: 11px;
    }
    .content-wrapper .industry-insights-promotion-wrapper div.container div.insights-promotion > div > h2 {
        font-size: 25px;
    }
    .content-wrapper .working-with-centrality-wrapper .steps-discover-more-wrapper .btn {
        width: 175px;
    }
    .content-wrapper .in-it .selection .select-wrapper {
        width: 200px;
    }
    /***************************
        Content Css End
    ***************************/

    /***************************
        Footer Css Start
    ***************************/
    footer form .form-group label {
        display: block;
    }
    footer .logo-wrapper {
        border-right: none;
        margin-bottom: 20px;
    }
    footer .contact-detail {
        margin-bottom: 20px;
    }
    footer .contact-detail p {
        padding-left: 0;
    }
    footer .social .soc-seprator {
        display: none;
    }
    footer .social .soc-icon {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    /***************************
        Footer Css End
    ***************************/

}